<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Star Realms Hp counter</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <style>
      button {
        margin: 8px;
        margin-left: auto;
        margin-right: auto;
      }

      body {
        margin-top: 10px;
      }

      .container {
        margin-left: auto;
        margin-right: auto;
      }

      .hide {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div id="row" class="row container text-center">
        <div class="col content" id="player1">
          <button class="btn btn-success" v-on:click="player1 += 1">^</button>
          <br />

          <h1>
            {{ player1 }}
          </h1>
          <h3>{{ player1name }}</h3>

          <button class="btn btn-danger" v-on:click="player1 -= 1">v</button>
          <br />
        </div>

        <div class="col content hide" id="player2">
          <button class="btn btn-success" v-on:click="player2 += 1">^</button>
          <br />

          <h1>
            {{ player2 }}
          </h1>

          <h3>{{ player2name }}</h3>

          <button class="btn btn-danger" v-on:click="player2 -= 1">v</button>
          <br />
        </div>

        <div class="col content hide" id="player3">
          <button class="btn btn-success" v-on:click="player3 += 1">^</button>
          <br />

          <h1>
            {{ player3 }}
          </h1>
          <h3>{{ player3name }}</h3>

          <button class="btn btn-danger" v-on:click="player3 -= 1">v</button>
          <br />
        </div>

        <div class="col content hide" id="player4">
          <button class="btn btn-success" v-on:click="player4 += 1">^</button>
          <br />

          <h1>
            {{ player4 }}
          </h1>
          <h3>{{ player4name }}</h3>

          <button class="btn btn-danger" v-on:click="player4 -= 1">v</button>
          <br />
        </div>

        <button class="btn btn-primary container add" onclick="addPlayer(1)">
          Add player
        </button>
        <button class="btn btn-secondary container add" onclick="addPlayer(0)">
          Remove player
        </button>

        <input
          v-model="player1name"
          class="form-control"
          placeholder="Player 1 Name..."
        />
        <input
          v-model="player2name"
          class="form-control"
          placeholder="Player 2 Name..."
        />
        <input
          v-model="player3name"
          class="form-control"
          placeholder="Player 3 Name..."
        />
        <input
          v-model="player4name"
          class="form-control"
          placeholder="Player 4 Name..."
        />
      </div>
    </div>
  </body>

  <script src="main.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
